@keyframes blink {
  50% {
    transform: scaleY(0.1);
  }

  100% {
    transform: scaleY(1);
  }
}

* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #1d1d1d;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
  min-width: 390px;
  min-height: 390px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #6441a4;
  background-color: #272727;
}

svg {
  width: 250px;
  height: 275px;
  background: transparent;
}

.outline {
  margin: auto;
  fill: #6441a4;
}

.inline {
  fill: #ffffff;
}

.left-eye {
  width: 12px;
  height: 37px;
  fill: #6441a4;
  transform-origin: 0 55px;
}

.right-eye {
  width: 12px;
  height: 37px;
  fill: #6441a4;
  transform-origin: 0 55px;
}

.blink {
  animation: blink 0.8s infinite alternate;
}
